.main,
h3,
.city,
.other {
  text-align: center;
  font-family: "Poppins", sans-serif;
  display: block;
  cursor: default;
}

.other {
  font-size: 12px;
  margin: 0 auto;
}

.date {
  font-size: 12px;
  margin-top: 1px;
  margin-left: 0;
}

.city {
  margin-top: 0px;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 0px;
  font-weight: 400px;
}
.main {
  font-size: 80px;
  position: absolute;
  top: 3%;
  left: 12%;
  font-weight: bolder;
}

.search {
  margin: 40px;
}

.search-btn {
  border-radius: 0px 30px 30px 0px;
  cursor: pointer;
}

.bg-color {
  max-width: 600px;
  max-height: 600px;
  background: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 30px;
}

.row {
  text-align: center;
  padding-bottom: 30px;
  font-family: "Poppins", sans-serif;
  margin: 30px;
  font-weight: normal;
  cursor: default;
}

.img {
  position: relative;
  top: 3%;
  left: 30%;
}

.col {
  font-size: 12px;
  font-weight: 600;
}

.description {
  margin: 30px, 0px;
  text-align: center;
  display: block;
  font-size: 17px;
  font-weight: 500px;
  font-family: "Josefin Sans", sans-serif;
}

.units {
  font-size: 30px;
  top: 3%;
  font-weight: bolder;
}
